

.cardui{
    width: 20rem;
    transition: transform 0.5s ease;
}
.cardui:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
    transform: scale(1.3);
    z-index: 10;
}

.cardui-body{
    padding: 3rem 0 !important;
    background-color: white;
}
.cardui-text{
    font-size: .9rem;
    padding:0.4rem 1.9rem;
}
.card-container .row{

    padding-top:6rem;

}
.overflow{
    overflow: hidden;

}


