
h1{
    font-size:16px;
    font-weight: bolder;
}
a{
    color:#1b5373;
}

/*           Forum.html                       */

.container{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.subforum{
    margin-top:20px;

}

.subforum-title{
    background-color:#f8f9fa;
    padding: 5px;
    border-radius: 5px;
    margin:4px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 67% 13% 20%;
}

.subforum-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    background-color:#f8f9fa;
}

.subforum-description *{
    margin-block: 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i{
    font-size: 45px;
}

.subforum-divider{
    display: none;   
}

/*            ForumTopic.html                    */

div > span a{
    color:white;
}
.head{
    display: flex;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
    background-color:#f8f9fa;
    border-radius:.25rem;
}
.hide{
    display: none;
}
.authors{
    flex: 20%;
}

.content{
    flex: 80%;
}

.body{
    display: flex;
    background-color: #131415;
    padding: 10px;
    margin-top: 5px;
    background-color:#f8f9fa;
    border-radius:.25rem;
}

.body .authors .username{
    font-size: 20px;
}

/* comment section */
.comment-area{
    margin-bottom:50px;
}

.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.comment-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment-area input:hover{
    border: solid 1px #000000;
}