body {

  margin: 0;
  font-family:'Metropolis-Regular', "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  background-color: #1b5373;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Metropolis-Regular';
  src: local('Metropolis-Regular'), url(./assets/fonts/Metropolis-Regular.otf) format('opentype');

}
a{
  text-decoration: none !important;
}
/*scrollbar styling */
/*firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #cccccc transparent;
}
/*chrome, edge, safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 20px;
  border: 3px solid #f8f9fa;
}